*{
    padding: 0;
    margin: 0;
}
.navbar{
    padding: 40px 0px;
    background-color:#3b5998;
    color: white;
    
}
.heading{
    float:left;
    margin-left: 400px;
    font-size: 40px;
    margin-top: -15px;
}
.input{
    float:right;
    margin-right: 100px;
    margin-top: -20px;
}